/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
Version   :  1.9.3
Updated   :  05/05/2021 
*/
/*! WRITE YOUR CUSTOM STYLE **/

html {
  font-size: 62.5%;
  /* 62.5% of the base size of 16rem = 10rem.*/
}
body {
  font-size: 1.6rem;
  /* reset 10*1.6 = 16rem, to make sure you do not get any 10rem around */
}

.title {
  color: black !important;
  font-weight: bold;
}

.text-scroll-horizontally {
  padding-top: 20px;
  color: white !important;
  white-space: nowrap;
  display: block; /* Important to give the content a width */
  width: 100%;
  /* transform: translateX(100%); */
  /* Add the animation */
  animation: move 300s linear infinite
    /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to {
    transform: translateX(-100%);
  }
}

.large-logo {
  position: absolute;
  right: 0;
  top: 0;
}

.logo-light {
  height: 50px;
}


.text-white {
  color: #f4f4f6 !important;
}


.powered-by-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-weight: bold;
  margin-top: 8px;
}

@media (max-width: 575px) {
  .flex-prev,
  .flex-next {
    top: 40% !important;
  }

  .feature-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .feature-caption .capt {
    font-size: 1.6rem;
  }
}

.banner-single {
  background-image: url("../images/sw-main-bg.svg");
  background-size: cover;
}


.top-title {
  margin-bottom: 3.438rem;
  margin-top: 6.25rem;
}

.middle-title {
  margin-bottom: 3.125rem;
}

.middle-sub {
  margin-bottom: 5rem;
}

.title-xxl {
  color: black;
  font-size: 6.438rem;
  line-height: 1;
}

.head-sub {
  color: black !important;
}

.sw-text {
  font-size: 1.25rem !important;
}

.connect-btn {
  height: 55px;
  width: 220px;
}

#join-us {
  width: 24.375rem;
  height: 7.114rem;
  font-weight: bold;
  font-size: 2.625rem;
}

.carousel .slides li {
  background: black;
  height: 33.278rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.carousel .slides li img {
  width: 15.513rem;
  height: 14.781rem;
  margin: 0 auto;
}

.carousel .slides > .carousel-card {
  text-align: center;
}

.carousel .slides > .carousel-card > .carousel-card-title {
  font-size: 1.25rem;
  color: white;
  margin: 1.625rem 0;
}

.carousel .slides > .carousel-card > .carousel-card-sub {
  font-size: 0.875rem;
  color: white;
  margin-bottom: 3.125rem;
}

.carousel .slides > .carousel-card > .carousel-card-subheader {
  font-size: 2.188rem;
  color: white;
}

#daos {
  padding: 40px 0 !important;
}
#daos h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  padding: 0 40px;
  margin-bottom: 40px;
}

.community-events-title {
  margin-top: 2.125rem;
  margin-bottom: 6.25rem !important;
}

.horizontal-line {
  width: 1px;
  background: white;
  height: 25rem;
  margin: 0 auto;
}
.btn.disabled {
  background-color: #939393 !important;
}
.btn.disabled:hover {
  color: #000000 !important;
}

.btn:focus {
  color: inherit;
  background-color: inherit;
}






/* ----------Footer-------- */
.social {
  display: flex;
}

.section-contact {
  padding: 0;
  height: 250px;
  display: flex;
  align-items: center;
}

.block-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.copyright-text {
  text-align: center;
  width: 100%;
  flex: 1;
}

.footer-logo {
  height: 70px;
}

.sw-social-link {
  height: 38px;
  margin: 0 25px;
}